.content {
  background-image: url(/image/bgLayout4.jpg);
  background-size: 100%;
  background-position: center;
  background-color: #f3f3f3;
  background-blend-mode: soft-light;
}

.space {
  width: 100%;
  justify-content: center;
}

.space2 {
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.space3 {
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div {
  height: 60vh;
  margin-left: 100px;
  margin-right: 100px;
}
